body{
    display: flex;
    background-color:rgb(170, 106, 230);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    border-radius: 20px;
    width: 450px;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    overflow: hidden;
}

#months{
    margin: 0;
    background-color: orangered;
    padding: 20px;
    color: white;
}

#years{
    opacity: 0.6;
    font-size: 30px;
}

#dates{
    font-size: 70px;
    margin: 3px 100px;
    padding: 20px 0;
}

#days{
    font-size: 25px;
    opacity: 0.6;
}